:local(.playerList) {
  padding-left: 0;
  margin-bottom: 0;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}